In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from ast import literal_eval
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn.metrics.pairwise import linear_kernel, cosine_similarity
from nltk.stem.snowball import SnowballStemmer
from nltk.stem.wordnet import WordNetLemmatizer
from nltk.corpus import wordnet

import os
from warnings import simplefilter
simplefilter(action='ignore', category=FutureWarning)
RND_ST = 12345

In [2]:
from IPython.core.display import display, HTML
display(HTML("""
<style>
.container { 
   width:90% !important; 
   position: relative; 
   right: 25px; 
}
</style>
"""))

C:\Users\Joktun\AppData\Local\Temp\ipykernel_14180\2057739371.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

In [3]:
def pth_exist(pth):
    if os.path.exists(pth):
        df = pd.read_csv(pth)
        return df
    else:
        print('Путь не таков')
        return None

In [4]:
df = pth_exist(r'C:\Users\Joktun\Desktop\kaggle\reccom\data\TMDB_movie_dataset_v11.csv')

In [5]:
def info_func(df):
    print('Общая информация')
    print('')
    df.info()
    print('')
    print(df.describe())
    print('')
    print('Кол-во пропущенных значений')
    print('')
    print(df.isna().sum().sort_values(ascending=False))
    print('')
    print('Процент пропущенных значений')
    print('')
    print((df.isna().sum()/len(df)*100).sort_values(ascending=False))
    print('')
    print('Как выглядит датасет')
    print('')
    print(df.head(10))

In [6]:
info_func(df)

Общая информация

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1151022 entries, 0 to 1151021
Data columns (total 24 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1151022 non-null  int64
 1   title                 1151009 non-null  object
 2   vote_average          1151022 non-null  float64
 3   vote_count            1151022 non-null  int64
 4   status                1151022 non-null  object
 5   release_date          957813 non-null   object
 6   revenue               1151022 non-null  int64
 7   runtime               1151022 non-null  int64
 8   adult                 1151022 non-null  bool
 9   backdrop_path         304206 non-null   object
 10  budget                1151022 non-null  int64
 11  homepage              121619 non-null   object
 12  imdb_id               606248 non-null   object
 13  original_language     1151022 non-null  object
 14  original_title        1151009 non-null  object
 15  overview              915354 non-null   object
 16  popularity            1151022 non-null  float64
 17  poster_path           784728 non-null   object
 18  tagline               161381 non-null   object
 19  genres                687228 non-null   object
 20  production_companies  517849 non-null   object
 21  production_countries  638070 non-null   object
 22  spoken_languages      657879 non-null   object
 23  keywords              310123 non-null   object
dtypes: bool(1), float64(2), int64(5), object(16)
memory usage: 203.1+ MB

                 id  vote_average    vote_count       revenue       runtime  \
count  1.151022e+06  1.151022e+06  1.151022e+06  1.151022e+06  1.151022e+06
mean   7.488514e+05  1.859491e+00  1.863506e+01  6.883233e+05  4.751484e+01
std    4.000946e+05  3.012327e+00  3.165211e+02  1.796993e+07  6.160817e+01
min    2.000000e+00  0.000000e+00  0.000000e+00 -1.200000e+01 -2.800000e+01
25%    4.152082e+05  0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00
50%    7.541765e+05  0.000000e+00  0.000000e+00  0.000000e+00  2.200000e+01
75%    1.104650e+06  4.654000e+00  1.000000e+00  0.000000e+00  8.800000e+01
max    1.406680e+06  1.000000e+01  3.449500e+04  3.000000e+09  1.440000e+04

             budget    popularity
count  1.151022e+06  1.151022e+06
mean   2.665443e+05  1.225593e+00
std    5.084938e+06  7.540235e+00
min    0.000000e+00  0.000000e+00
25%    0.000000e+00  6.000000e-01
50%    0.000000e+00  6.000000e-01
75%    0.000000e+00  8.750000e-01
max    1.000000e+09  2.994357e+03

Кол-во пропущенных значений

homepage                1029403
tagline                  989641
backdrop_path            846816
keywords                 840899
production_companies     633173
imdb_id                  544774
production_countries     512952
spoken_languages         493143
genres                   463794
poster_path              366294
overview                 235668
release_date             193209
title                        13
original_title               13
vote_average                  0
vote_count                    0
revenue                       0
popularity                    0
runtime                       0
original_language             0
status                        0
budget                        0
adult                         0
id                            0
dtype: int64

Процент пропущенных значений

homepage                89.433825
tagline                 85.979330
backdrop_path           73.570792
keywords                73.056727
production_companies    55.009635
imdb_id                 47.329591
production_countries    44.564917
spoken_languages        42.843925
genres                  40.294104
poster_path             31.823371
overview                20.474674
release_date            16.785865
title                    0.001129
original_title           0.001129
vote_average             0.000000
vote_count               0.000000
revenue                  0.000000
popularity               0.000000
runtime                  0.000000
original_language        0.000000
status                   0.000000
budget                   0.000000
adult                    0.000000
id                       0.000000
dtype: float64

Как выглядит датасет

       id                    title  vote_average  vote_count    status  \
0   27205                Inception         8.364       34495  Released
1  157336             Interstellar         8.417       32571  Released
2     155          The Dark Knight         8.512       30619  Released
3   19995                   Avatar         7.573       29815  Released
4   24428             The Avengers         7.710       29166  Released
5  293660                 Deadpool         7.606       28894  Released
6  299536   Avengers: Infinity War         8.255       27713  Released
7     550               Fight Club         8.438       27238  Released
8  118340  Guardians of the Galaxy         7.906       26638  Released
9     680             Pulp Fiction         8.488       25893  Released

  release_date     revenue  runtime  adult                     backdrop_path  \
0   2010-07-15   825532764      148  False  /8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg
1   2014-11-05   701729206      169  False  /pbrkL804c8yAv3zBZR4QPEafpAR.jpg
2   2008-07-16  1004558444      152  False  /nMKdUUepR0i5zn0y1T4CsSB5chy.jpg
3   2009-12-15  2923706026      162  False  /vL5LR6WdxWPjLPFRLe133jXWsh5.jpg
4   2012-04-25  1518815515      143  False  /9BBTo63ANSmhC4e6r62OJFuK2GL.jpg
5   2016-02-09   783100000      108  False  /en971MEXui9diirXlogOrPKmsEn.jpg
6   2018-04-25  2052415039      149  False  /mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg
7   1999-10-15   100853753      139  False  /hZkgoQYus5vegHoetLkCJzb17zJ.jpg
8   2014-07-30   772776600      121  False  /uLtVbjvS1O7gXL8lUOwsFOH4man.jpg
9   1994-09-10   213900000      154  False  /suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg

   ...           original_title  \
0  ...                Inception
1  ...             Interstellar
2  ...          The Dark Knight
3  ...                   Avatar
4  ...             The Avengers
5  ...                 Deadpool
6  ...   Avengers: Infinity War
7  ...               Fight Club
8  ...  Guardians of the Galaxy
9  ...             Pulp Fiction

                                            overview popularity  \
0  Cobb, a skilled thief who commits corporate es...     83.952
1  The adventures of a group of explorers who mak...    140.241
2  Batman raises the stakes in his war on crime. ...    130.643
3  In the 22nd century, a paraplegic Marine is di...     79.932
4  When an unexpected enemy emerges and threatens...     98.082
5  The origin story of former Special Forces oper...     72.735
6  As the Avengers and their allies have continue...    154.340
7  A ticking-time-bomb insomniac and a slippery s...     69.498
8  Light years from Earth, 26 years after being a...     33.255
9  A burger-loving hit man, his philosophical par...     74.862

                        poster_path  \
0  /oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg
1  /gEU2QniE6E77NI6lCU6MxlNBvIx.jpg
2  /qJ2tW6WMUDux911r6m7haRef0WH.jpg
3  /kyeqWdyUXW608qlYkRqosgbbJyK.jpg
4   /RYMX2wcKCBAr24UyPD7xwmjaTn.jpg
5  /zq8Cl3PNIDGU3iWNRoc5nEZ6pCe.jpg
6  /7WsyChQLEftFiDOVTGkv3hFpyyt.jpg
7  /pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg
8  /r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg
9  /d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg

                                             tagline  \
0               Your mind is the scene of the crime.
1  Mankind was born on Earth. It was never meant ...
2                  Welcome to a world without rules.
3                        Enter the world of Pandora.
4                            Some assembly required.
5           Witness the beginning of a happy ending.
6              An entire universe. Once and for all.
7                            Mischief. Mayhem. Soap.
8                        All heroes start somewhere.
9  Just because you are a character doesn't mean ...

                                        genres  \
0           Action, Science Fiction, Adventure
1            Adventure, Drama, Science Fiction
2               Drama, Action, Crime, Thriller
3  Action, Adventure, Fantasy, Science Fiction
4           Science Fiction, Action, Adventure
5                    Action, Adventure, Comedy
6           Adventure, Action, Science Fiction
7                                        Drama
8           Action, Science Fiction, Adventure
9                              Thriller, Crime

                                production_companies  \
0  Legendary Pictures, Syncopy, Warner Bros. Pict...
1  Legendary Pictures, Syncopy, Lynda Obst Produc...
2  DC Comics, Legendary Pictures, Syncopy, Isobel...
3  Dune Entertainment, Lightstorm Entertainment, ...
4                                     Marvel Studios
5  20th Century Fox, The Donners' Company, Genre ...
6                                     Marvel Studios
7  Regency Enterprises, Fox 2000 Pictures, Taurus...
8                                     Marvel Studios
9                Miramax, A Band Apart, Jersey Films

                       production_countries  \
0  United Kingdom, United States of America
1  United Kingdom, United States of America
2  United Kingdom, United States of America
3  United States of America, United Kingdom
4                  United States of America
5                  United States of America
6                  United States of America
7                  United States of America
8                  United States of America
9                  United States of America

                     spoken_languages  \
0  English, French, Japanese, Swahili
1                             English
2                   English, Mandarin
3                    English, Spanish
4             English, Hindi, Russian
5                             English
6                      English, Xhosa
7                             English
8                             English
9            English, Spanish, French

                                            keywords
0  rescue, mission, dream, airplane, paris, franc...
1  rescue, future, spacecraft, race against time,...
2  joker, sadism, chaos, secret identity, crime f...
3  future, society, culture clash, space travel, ...
4  new york city, superhero, shield, based on com...
5  superhero, anti hero, mercenary, based on comi...
6  sacrifice, magic, superhero, based on comic, s...
7  dual identity, rage and hate, based on novel o...
8  spacecraft, based on comic, space, orphan, adv...
9  drug dealer, boxer, massage, stolen money, bri...

[10 rows x 24 columns]

Возможна фильтрация данных - отсечение фильмов с малым кол-вом оценок (определить можно через 95%). Нужно ли? Тогда эти фильмы может вообще никто не посмотреть. А данные о фильмах обновляются во времени (оценки, кол-во оценок). Тем более есть примеры фильмов которые в свое время провалились, но спустя время стали не только популярными, но и культовыми (Бойцовский клуб, Большой Лебовски итд).

Можно построить разные варианты рекомендательной системы
* просто советовать самые популярные фильмы, по рейтингу (наверное может подойти, скорее не как рекомендация, а как рейтинг самых популярных фильмов). Можно добавить фильтрацию по какому-нибудь определенному жанру, году, возрастному ограничению. 
* советовать фильм на основе другого фильма. сравнивать фильмы по схожести описания, слогана, состава команды, актеров, жанра, кейвордов. вроде как косунисуное сходство.
* на основе опыта (его оценик опредленного фильма) другого юзера - определить насколько мне понравится фильм
* совмещение 2 и 3 способа. это что то типа "мы вам рекомендуем вот это на основе того, что вы смотрели раньше".

для того, что я предпологал сделать, а именно вписать 3 фильма которые понравились пользователю, и на основе их подобрать 10 фильмов (возможно добавить кнопку "смотрел" около выданных фильмов, чтобы заменить на фильм дальше (11 фильм, 12, 13 итд)) которые могли бы понравится пользователю - скорее всего подходит 2 вариант. 1 вариант можно внедрить просто как рейтинг фильмов, которые "культовые" и стоит посмотреть в не зависимости от предпочтений юзера. 3 и 4 фильмы видимо требуют аккаунт системы, чтобы можно было сохранять историю просмотров по юзерам (видимо +сервера тут же) - что мне недоступно, если я собираюсь внедрить это на какой нибудь сайт сделанный на fastapi. но в качестве кода можно конечно 3 и 4 вариант реализовать просто в коде на основе датасета этого.

по текущим задачам:
* реализовать в коде второй вариант
* разобраться в fastapi и реализовать в нем первый пункт
* (бонус) реализовать в коде 3 и 4 пункт
* (бонус) как вариант добавить окошко в котором можно будет ввести фильм и данные о нем, а модель предскажет его рейтинг, условно вышел новый фильм и пользователь думает сходить или нет, а модель выдает предположительный рейтинг основываясь на данных о фильме

In [32]:
df_first = df.sample(frac=0.02, random_state=RND_ST)

In [33]:
df_first.head(10)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
31923,324245,7 Chinese Brothers,5.3,40,Released,2015-08-14,0,75,False,NaN,...,7 Chinese Brothers,"Larry is an unqualified, unemployable, inebria...",2.743,/k1vtozOhbk76ZmBJzKfmv1pev9i.jpg,Failure has a new overachiever,Comedy,NaN,United States of America,English,NaN
42656,650625,The Invisible,6.7,25,Released,2020-03-06,0,84,False,/8fcQVOwAEOxw8bWlAWtFhFJky40.jpg,...,Invisibles,Three women. One same age. Three ways to face it.,2.782,/iiYQxyplSb1oHT32GYoV64yPXQ4.jpg,NaN,Drama,Nephilim Producciones,Spain,Spanish,NaN
681394,1264453,Depende,0.0,0,Released,NaN,0,0,False,NaN,...,Depende,NaN,0.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
386033,1115351,Nederlandsche Basalt Maatschappij,0.0,0,Released,1925-07-10,0,0,False,NaN,...,Nederlandsche Basalt Maatschappij,NaN,0.600,/x1f5iPdpyEi1ftJGqkw94ukkRBq.jpg,NaN,Documentary,Haghe Film,Netherlands,No Language,NaN
381947,1155853,Aura,0.0,0,Released,2007-01-01,0,6,False,NaN,...,Aura,"The final animated short by Richard Baily, com...",0.600,/7TPdnrFKbgHNJLYFpaE6znjjI4Q.jpg,NaN,Animation,Image Savant,United States of America,No Language,NaN
539184,1293798,Six Miles at Sea,0.0,0,Released,2024-06-08,0,23,False,NaN,...,Six Miles at Sea,"Summer, 1974. Two twelve-year-olds, Finn and G...",0.000,NaN,First concert. First crush. First taste of reb...,Drama,Island Marina Productions,United States of America,English,NaN
367223,1122856,Referred Pains: the Necessity of the (Minor) M...,0.0,0,Released,2023-05-06,0,1,False,NaN,...,Referred Pains: the Necessity of the (Minor) M...,An extension of the Benign Violation theory of...,0.600,/6sx9eU0EQDRKWljZyKpDM6ulzEV.jpg,NaN,Documentary,NaN,NaN,NaN,"slapstick comedy, essay film, experimental, vi..."
958217,870423,Isidro Guerra,0.0,0,Released,2019-06-19,0,355,False,NaN,...,Isidro Guerra,François Daireaux has the demanding nature of ...,0.600,/mKLwv5s2XNSm2glGzyVRpg2zxoV.jpg,The natural time of a long now,NaN,NaN,NaN,Spanish,NaN
876512,79287,Rihanna: On the Record with Fuse,0.0,0,Released,2009-01-01,0,0,False,NaN,...,Rihanna: On the Record with Fuse,NaN,0.600,NaN,NaN,Music,NaN,United States of America,English,NaN
786036,477046,Unversöhnliche Erinnerungen,0.0,0,Released,1979-02-01,0,92,False,NaN,...,Unversöhnliche Erinnerungen,This film examines two parallel German lives: ...,0.600,NaN,NaN,Documentary,NaN,Germany,NaN,NaN

In [34]:
df_first['tagline'] = df_first['tagline'].fillna('')
df_first['description'] = df_first['overview'] + df_first['tagline']
df_first['description'] = df_first['description'].fillna('')

In [35]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0.01, stop_words='english')
tf_matrix = tf.fit_transform(df_first['description'])

In [36]:
tf_matrix.shape

(23020, 199)

In [37]:
cos_sim = linear_kernel(tf_matrix, tf_matrix)

In [38]:
cos_sim[0]

array([1., 0., 0., ..., 0., 0., 0.])

In [39]:
df_first = df_first.reset_index()
titles = df_first['title']
indices = pd.Series(df_first.index, index=df_first['title'])

In [40]:
def get_recommendations(title):
    idx = indices[title]
    sim_scores = list(enumerate(cosine_sim[idx]))
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    sim_scores = sim_scores[1:31]
    movie_indices = [i[0] for i in sim_scores]
    return titles.iloc[movie_indices]

In [41]:
get_recommendations('The Invisible').head(10)

20036                                     What Gets Me Hot
20163                                       I Will Be Fine
2183                             Rana, Queen of the Amazon
6851                                  Bobby and His Family
20557                                        To Me, To You
13875                                         Mantis Boxer
16294                                   Kisses and Bullets
481                              All Men Are Created Equal
4728                                             Scarecrow
6035     Search Versus Re-Search: Recollections of Jose...
Name: title, dtype: object